/* La police */

@font-face
{
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'Raleway';
	width: 1200px;
	margin: auto;
}

h1
{
	font-weight: bold;
	font-size: 1.5em;
}

h2
{
	font-size: 1em;
}

#bot_header nav 
{
	font-weight: bold;
}

.euros
{
	font-weight: bold;
}

nav p
{
	font-size: 1em;
}

#Hebergement a
{
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#Activite h2
{
	font-weight: bold;
}


/*Header*/


#top_header
{
	display: flex;
	margin-top: 30px;
	justify-content: space-between;
}

#top_header img
{
	width: 80px;
	height: 40px;
}

#titre_principal h1
{
	margin-bottom: 5px;

}

#titre_principal p
{
	margin-top: 5px;
}

#recherche
{
	width: 327px;
	border-radius: 30px;
	display: flex;
	align-items: center;
}

#recherche p
{
	display: flex;
	align-items: center;
}

input
{
	padding: 10px;
	font-size: 1em;
	border: 0;
	order: 1;
	border: 1px solid #F2F2F2;
}

label
{
	background-color: #0065FC;
	color: white;
	font-weight: bold;
	width: 100px;
	height:auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #0065FC;
	border-radius: 0px 10px 10px 0px;
	order: 2;
}

.fa-search
{
	order: 3;
	display: none;
}

.fa-map-marker-alt
{
	border: 1px solid #F2F2F2;
	padding: 11.5px;
	border-radius: 10px 0px 0px 10px;
	background-color: #F2F2F2;
}

#info
{
	display: flex;
	align-items: center;
}

.fa-info
{
	border: 1px solid #F2F2F2;
	padding: 5px 10px 5px 10px;
	border-radius: 30px;
	margin-right: 10px;
	color: #0065FC;
}

/*Naviguation*/

#inscription
{
	color: blue;
}


#top_header nav, nav ul
{
	display: flex;
}

#bot_header nav, ul
{
	display: flex;	
}

#bot_header nav
{
	width: 90%;
}

nav ul
{
	list-style-type: none;
}

li
{
	margin-right: 20px;
}

nav a
{
	text-decoration: none;
	padding-top: 30px;
	color: black;
}

#top_header nav li a:hover
{
	border-top: 2px solid #0065FC;
	color:#0065FC;
}

#bot_header li
{
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	padding: 0px 10px 0px 0px;
}

 #bot_header a:hover
 {
	 color: #0065FC;
 }


nav
{
	align-items: baseline;
}

.fa-money-bill-wave
{
	padding: 15px;
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 100px;
	background-color: #DEEBFF;
	margin-right: 10px;
}

.fa-child
{
	padding: 15px 18px 15px 18px;
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 30px;
	background-color: #DEEBFF;
	margin-right: 10px;
}

.fa-heart
{
	padding: 15px;
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 100px;
	background-color: #DEEBFF;
	margin-right: 10px;
}

.fa-dog

{
	padding: 15px;
	color: #0065FC;
	border: 1px solid #DEEBFF;
	border-radius: 100px;
	background-color: #DEEBFF;
	margin-right: 10px;
}



/*Section - article1*/

#Hebergement h1
{
	padding: 30px 0px 10px 32px;
	margin-bottom: 0px;
}


#Hebergement
{
	background-color: #F2F2F2;
	width: 800px;
	height: 550px;
	border-radius: 20px;
}

#Bloc2
{   
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#Populaire
{
	background-color: #F2F2F2;
	
}

#Bloc1
{
	justify-content: space-between;
	display: flex;
}

.hotel
{
	border: 1px solid #F2F2F2;
	border-radius: 15px;
	background-color: white;
	width: 230px;
	height: 200px;
	display: flex;
	flex-direction: column;
	margin-bottom: 26px;
}


.hotel img
{
	width: auto;
	height: 100px;
	border-radius: 11px 11px 0px 0px;
	margin: 6px;
}

.hotel p 
{
	margin-top: 2px;
	margin-left: 10px; 
}

.hotel h2
{
	margin-bottom: 2px;
	margin-left: 10px; 
	margin-top: 0px;
}

#Hebergement a
{
	margin-left: 30px;
}

.fa-star
{
	color: #0065FC;
}

.fa-grey
{
	color: #F2F2F2;
}

.stars
{
	margin-left: 5%;
}





/*Section - aside*/
aside
{
	background-color: #F2F2F2;
	width: 370px;
	height: auto;
	margin-top: 25px;
	border-radius: 20px;
}

.hotel2
{
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	background-color: white;
	display: flex;
	margin: 5%;
	margin-top: 0px;
}

aside h1
{
	padding-top:7px;
	padding-left: 30px;
	margin-bottom: 10px;
}

.hotel2 img
{
	width: 110px;
	height: 110px;
	margin: 6px;
	border-radius: 15px 0px 0px 15px;
}

.description p
{
	margin-top: 2px;
}

.description h2
{
	margin-bottom: 2px;
}

.fa-chart-line
{
	float: right;
	padding-right: 5%;
}


/*Article2*/

#Activite
{
	width: 100%;
	height: 450px;
}

#bloc-left, #bloc-right
{
	display: flex;
	justify-content: space-between;
	width: 48.5%;
}

#gros_bloc
{
	display: flex;
	justify-content: space-between;
	height: 90%;
}

.bloc3
{
	width: 48%;
	height: auto;
	border-radius: 20px;
	box-shadow: 3px 3px 10px silver;
}

.bloc3 img
{
	width: 100%;
	height: 90%;
	border-radius: 20px 20px 0px 0px;
	margin-bottom: 1px;
}

.petit_bloc
{
	width: 48%;
	display: flex;
	flex-direction: column;
}

.bloc5
{
	height: 59%;
	box-shadow: 3px 3px 10px silver;
	border-radius: 20px;
}

.bloc5 img
{
	width: 100%;
	height: 83%;
	border-radius: 20px 20px 0px 0px;
}

.bloc6
{
	height: 33%;
	margin-top: 30px;
	box-shadow: 3px 3px 10px silver;
	border-radius: 20px;
}

.bloc6 img
{
	width: 100%;
	height: 71%;
	border-radius: 20px 20px 0px 0px;
}


.bloc7
{
	height: 60%;
	margin-bottom: 30px;
	border-radius: 20px;
	box-shadow: 3px 3px 10px silver;
}

.bloc7 img 
{
	width: 100%;
	height: 83%;
	border-radius: 20px 20px 0px 0px;
}

.bloc8
 {
	 height: 33%;
	 border-radius: 20px;
	 box-shadow: 3px 3px 10px silver;
 }

 .bloc8 img
 
{
	width: 100%;
	height: 71%;
	border-radius: 20px 20px 0px 0px;
}

 #Activite h1
 {
	 margin-top: 50px;
 }

 #Activite h2
 {
	 padding-left: 20px;
	 margin-top: 10px;
 }

 /*Footer*/

 footer
 {
	 display: flex;
	 justify-content: space-between;
	 padding-right: 200px;
	 padding-left: 50px;
	 margin-top: 50px;
	 margin-bottom: 50px;
	 background-color: #F2F2F2;
 }

 @media screen and (max-width: 1200px) and (min-width: 451px)
 {
	body
	{
		width: auto;
		height: auto;
		margin-left: 2%;
		margin-right: 2%;
		min-width: 740px;
	}

	/*Header*/

	li, a
	{
		font-size: 0.9em;
	}

	p
	{
		font-size: 0.8em;
	}

	nav p
	{
		font-size: 0.9em;
	}

	h1
	{
		white-space: nowrap;
		font-size: 1em;
	}

	h2
	{
		font-size: 0.9em;
	}

	li
	{
		white-space: nowrap;
	}

	#bot_header li
	{
		padding-right: 30px;
	}

	.fa-map-marker-alt
	{
		padding: 10px;
	}

	.fa-money-bill-wave
	{
		padding: 10%;
	}

	.fa-child
	{
		padding: 15%;
	}

	.fa-heart
	{
		padding: 10.5%;
	}

	.fa-dog
	{
		padding: 7.5%;
	}

	/*Article 1*/

	#Bloc1
	{
		flex-direction: column;
	}

	#Hebergement
	{
		width: auto;
		height: auto;
	}

	.hotel
	{
		margin: 2%;
		width: 25%;
	}

	#Populaire
	{
		width: auto;
		flex-direction: row;
	}

	/*Aside*/
	
	aside
	{
		width: auto;
	}

	#bloc_populaire
	{
		display: flex;
		justify-content: space-around;
	}

	#Populaire
	{
		background-color: #F2F2F2;
		border-radius: 20px;
	}

	.fa-chart-line
	{
		float: right;
		padding-right: 5%;
	}

	.hotel2
	{
		margin: 0px 0px 1% 0px;
		width: 30%;
		flex-direction: column;
	}

	.hotel2 img
	{
		width: 94%;
		border-radius: 10% 10% 0% 0%;
		margin: 6px;
	}

	.description
	{
		padding-left: 5%;
	}

	/*Article 2*/

	#Activite
	{
		height: 300px;
	}

	#Activite h1
	{
		margin-left: 5%;
	}

	#Activite h2 
	{
		margin-top: 0px;
	}

	.bloc3 img
	{
		height: 86%;
	}

	.bloc5
	{
		height: 47%;
	}

	.bloc5 img 
	{
		height: 69%;
	}

	.bloc6
	{
		height: 47%;
		margin-top: 10%;
	}

	.bloc6 img 
	{
		height: 69%;
	}

	.bloc7
	{
		height: 47%;
		margin-bottom: 10%;
	}

	.bloc7 img 
	{
		height: 69%;
	}

	.bloc8
	{
		height: 47%;
	}

	.bloc8 img 
	{
		height: 69%;
	}


	/*Footer*/

	footer
	{
		justify-content: space-around;
		padding: 0%;
	}

 }

 @media screen and (max-width: 450px)
 {
	body
	{
		width: auto;
		height: auto;
		margin-left: 1%;
		margin-right: 1%;
		min-width: 320px;
	}

	/*Header*/

	#top_header
	{
		flex-direction: column;
	}

	#inscription
	{
		display: block;
		position: absolute;
		top: 45px;
		right: 0px;
	}

	#top_header nav li a:hover
	{
		border-top: none;
		padding-bottom: 2px;
		border-bottom: 2px solid #0065FC;
	}

	#top_header nav ul li a 
	{
		padding-right: 2em;
		padding-left: 2em;
	}

	#top_header nav ul 
	{
		width: 100%;
		padding-left: 0px;
		justify-content: space-around;
		border-bottom: 2px solid #F2F2F2;
		padding-bottom: 2px;
	}

	#top_header h1
	{
		white-space: normal;
	}

	h1 
	{
		white-space: normal;
	}

	label
	{
		display: none;
	}

	.fa-search
	{
		display: initial;
		color: white;
		padding: 6%;
		background-color: #0065FC;
		border-radius: 15px 15px 15px 15px;
		position: relative;
		right: 10px;
	}
	
	#bot_header nav 
	{
		flex-direction: column;
	}

	#bot_header ul 
	{
		flex-wrap: wrap;
		padding-left: 5%;
	}

	#bot_header li 
	{
		margin-bottom: 3%;
		font-size: 0.9em;
	}

	/*Article 1*/

	#Hebergement h1
	{
		padding-left: 15px;
		font-size: 1.3em;
	}

	#Populaire h1
	{
		padding-left: 15px;
		font-size: 1.3em;
	}

	#Bloc1
	{
		flex-direction: column;
	}

	#Bloc1 article
	{
		order: 2;
		background-color: white;
	}

	aside
	{
		border-radius: 0;
	}

	#Bloc1 aside
	{
		order: 1;
		width: 98%;
	}

	.hotel2 img 
	{
		width: 30%;
	}

	#Hebergement
	{
		width: 98%;
		height: auto;
		background-color: white;
	}

	.hotel
	{
		box-shadow: 3px 3px 10px #F2F2F2;
		width: 90%;
	}

	/*Article 2*/

	Article
	{
		height: auto;
	}

	#Activite
	{
		width: 98%;
		height: 1400px;
	}

	#Activite h1
	{
		padding-left: 15px;
		font-size: 1.3em;
	}

	#gros_bloc
	{
		flex-direction: column;
		align-items: center;
		height: 95%;
	}

	#bloc-left
	{
		flex-direction: column;
		width: 90%;
		height: 50%;
		margin-bottom: 30px;
		
	}

	#bloc-right
	{
		flex-direction: column;
		width: 90%;
		height: 50%;
	}

	.bloc3
	{
		width: 100%;
		height: 200px;
	}

	.bloc3 img 
	{
		height: 80%;
	}

	.petit_bloc
	{
		width: 100%;
		height: 68%;
	}

	.bloc5
	{
		width: 100%;
		height: 45%;
		margin-top: 20px;
	}

	.bloc5 img 
	{
		height: 80%;
	}

	.bloc6
	{
		width: 100%;
		height: 45%;
	}

	.bloc6 img 
	{
		width: 100%;
		height: 80%;
	}

	.bloc7
	{
		width: 100%;
		height: 45%;
		margin-top: 18px;
	}

	.bloc7 img 
	{
		height: 80%;
	}

	.bloc8
	{
		width: 100%;
		height: 45%;
	}

	.bloc8 img 
	{
		width: 100%;
		height: 80%;
	}

	/*Footer*/

	footer
	{
		flex-direction: column;
		padding-right: 0;
		padding-left: 8%;
	}

	footer h1 
	{
		font-size: 1.3em;
	}

 }